<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbgNjb0L7qU2Rzq-MQj-165I32UpqOp4E</string>
	<key>GCM_SENDER_ID</key>
	<string>1034548616362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication44</string>
	<key>PROJECT_ID</key>
	<string>my-notification-155cd</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notification-155cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034548616362:ios:f9a487d43ba5be5f4e44d3</string>
</dict>
</plist>